name: Create Release

on:
  workflow_dispatch: { }

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create release zip
        run: python build.py

      - name: Extract release version
        id: extractReleaseVersion
        run: bash "${GITHUB_WORKSPACE}/.github/workflows/extract-release-version.sh"

      - name: Extract changelog content
        id: extractChangelogContent
        env:
          RELEASE_VERSION: ${{ steps.extractReleaseVersion.outputs.releaseVersion }}
          CHANGELOG_FILE: ${{ github.workspace }}/CHANGELOG.md
        run: bash "${GITHUB_WORKSPACE}/.github/workflows/extract-changelog-content.sh"

      - name: Create GitHub release
        env:
          RELEASE_VERSION: ${{ steps.extractReleaseVersion.outputs.releaseVersion }}
          RELEASE_MESSAGE: ${{ steps.extractChangelogContent.outputs.changelogFile }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bash "${GITHUB_WORKSPACE}/.github/workflows/create-github-release.sh"
